




<nav class="navbar">

    <ul class="main-nav">
        <img class="logonav" src="/assets/images/attract me if you can.png.png" alt="logo">
        <li>
            <a href="" class="nav-links"></a>
        </li>
    </li>
    <li>
        <a href="" class="nav-links"></a>
    </li>
       
    <a href="/contact/create" class="nav-links">Contact / qui sommes nous</a>
    </li>
        <li>
            <a href="" class="nav-links"></a>
        </li>
        <li>
            <a href="#" class="nav-links"></a>
        
       
        
    </ul>
</nav>