<nav class="navbar">

        <ul class="main-nav">
            <img class="logonav" src="/assets/images/attract me if you can.png.png" alt="logo">
            <li>
                <a href="/home/index" class="nav-links">Acceuil</a>
            </li>
            <li>
                <a href="/profile/show" class="nav-links">Votre profil</a>
            </li>
            <li>
                <a href="/contact/create" class="nav-links">Contact</a>
            </li>
            <li>
                <a href="/soughtProfile/resultResearch" class="nav-links">recherche</a>
            </li>
            <li>
                <a href="/soughtProfile/selectShow" class="nav-links">Page des profils</a>
            </li>
            <li>
                <a href="/home/index" class="nav-links">Déconnexion </a>
            </li>
            
        </ul>
    </nav> 


