<nav class="navbar">

        <ul class="main-nav">
            <img class="logonav" src="/assets/images/attract me if you can.png.png" alt="logo">
            <li>
                <a href="/home/index" class="nav-links">acceuil</a>
            </li>
            <li>
                <a href="#" class="nav-links">votre profil</a>
            </li>
            <li>
                <a href="#" class="nav-links">message</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contact / qui sommes nous</a>
            </li>
            <li>
                <a href="#" class="nav-links">recherche</a>
            </li>
            <li>
                <a href="#" class="nav-links">page des profils</a>
            </li>
            
        </ul>
    </nav>
