{% extends 'layout.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block content %}
<div class="cadre">
    <h1>Erreur de connection !</h1>

    <a href="../home/index">Retour acceuil </a>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}