{% extends 'layout.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block content %}
    <h1>Erreur de connection 2 !</h1>

    <a href="../home/index">Retour acceuil </a>


{% endblock %}

{% block javascript %}

{% endblock %}