{% extends 'Item/layout1.html.twig' %}
{% block content %}

<div class= "cadreHome">
    

        {% if error is defined %} <!--pop-up erreur-->
        <div class= "errorPopUp">    
            {{error}}
        </div>
        {% endif %}

    

<div class= "container">  


    <div class= "logo">
        <img src="/assets/images/attract me if you can.png.png" alt="logo"/>
            </div>
                <a id="show_popup" class="btn">Connexion</a>
                <a href="/inscription/create" class="btn">Inscription</a>
            
            <div class="pic-ctn">
                <img src="/assets/images/profile/exemple.jpg" alt="" class="pic">
                <img src="/assets/images/profile/exemple.jpg" alt="" class="pic">
                <img src="/assets/images/profile/exemple.jpg" alt="" class="pic">
                <img src="/assets/images/profile/exemple.jpg" alt="" class="pic">
                <img src="/assets/images/profile/exemple.jpg" alt="" class="pic">
        </div>
            
            </div>
 
    </div>
   

</div>

               
         


    

        <div id="popup">
            <div id="popupContent">

                <form action="/connect/verify" method="POST" >

                    <input type="email" name="email" placeholder="email" required/><br/>
                    <input type="password" name="password" placeholder="mot de passe" required/><br/>
                    <input type="submit" name="register" value="Valider"/></form><br/>
                </form>
                
            </div>
        </div>    
</div>                    
{% endblock %}

{% block javascript %}
    <script>
        var popup = document.getElementById('popup');
        var show_popup = document.getElementById("show_popup");
       
        show_popup.onclick = function(){
            popup.style.display = "block";
        };
        
        window.onclick = function(event){ /*fermeture si clique sur pop-up*/
            if(event.target == popup){
                popup.style.display = "none";
            }
        };
    </script>

{% endblock %}
