body
{
 background: no-repeat fixed center center/100% url('../images/couple.jpg');
 background-color: black;
 height: 100%;
 width: 100%;
 padding:0;
 box-sizing: border-box;
 margin:0;
 overflow-x:hidden;
 font-family: 'Rancho', cursive;
}
.cadrePr{
  padding-top:6rem;

}



	.inscriptionLabel
{
	display: block;
	width: 250px;
  float:left;
}

.cadre {
  padding-top:6rem;

}


/* /////// start soughtProfile.html.twig ////// */

#soughtProfilesContainer {
    display: flex;
    justify-content: space-around;
    margin: 0 ;
    color:white;
}

#profileCard {
    border: 1px solid black;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index:8;
    left:20%;
    top:auto;
    background:ivory;
    height: auto;
    border-radius: 25px;
    position:absolute;

}

.card-pseudo, .card-sentence, .card-distance {
 display: block;
 text-align: center;
 align-content: center;
 pointer-events: none; /* to allow profileCard pointer in JS */
 margin:0;
 padding:0;
 font-size: 35px;
}
.contentimg{
  display:flex;
  flex-direction: row;
  max-width: 100%;
  overflow: scroll;
  
}
.profileList{
  color: white;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
  }
.imgcard {
  display:block;
  display:none;
}


.rightMove {
 animation:.5s slideRight ease-in forwards;
 transition-delay:0;
}

.leftMove {
 animation:.5s slideLeft ease-in forwards;
 transition-delay:0;
}

@keyframes slideRight {
 from {left:30%;}
 to {left:100%;}
}

@keyframes slideLeft {
 from {left:30%;}
 to {left:-65%;}
}
.signal{
  border-radius: 30px;
}

/* /////// end soughtProfile.html.twig ////// */


 /*===========================================================
*
*===================== logo / btn / home  =====================
*
==========================================================*/

 
.container
{ 
 width: auto;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
 color:white;
 margin-top:15px;
 

}
.VotreProfil{
  margin:0;
}
.logo
{

 background-color: #d45b5b;
 border-radius: 10%;
 border:5px solid #F9F8F8;
 box-shadow: 10px 10px 0 darkgrey, 
             20px 20px 0 #272838;

}


.btn {
 background-color: #7E7F9A;
 border: 5px solid #F9F8F8;
 color:black;
 display: block;
 font-family: 'Nourd Bold';
 font-size: 2rem;
 letter-spacing: 0.1rem;
 padding: 1rem;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
 margin-top: 50px;
 
 
}

.btn::before {
 content: "";
 background-color: #7E7F9A;
 box-shadow: 10px 10px 0 darkgrey, 
             20px 20px 0 #272838;
 position: absolute;
 left: 0.25rem;
 top: 0.5rem;
 height: 102%;
 width: 102%;
 z-index: -1;
 transition: all 0.4s ease;
}

.btn:hover::before {
 box-shadow: none;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
}


/*=========================================================
*
*===================== Slider CSS =========================
*
==========================================================*/

@keyframes display {
 0% {
   transform: translateX(450px);
   opacity: 0;
 }
 10% {
   transform: translateX(0);
   opacity: 1;
 }
 20% {
   transform: translateX(0);
   opacity: 1;
 }
 30% {
   transform: translateX(-450px);
   opacity: 0;
 }
 100% {
   transform: translateX(-450px);
   opacity: 0;
 }
}

.pic-ctn {
 position: relative;
 width: 100vw;
 height: 450px;
 margin-top:8vh;
 margin-left: -200px;
}

.pic-ctn > img {
 position: absolute;
 top: 0;
 left: calc(50% - 100px);
 opacity: 0;
 animation: display 10s infinite;
}

img:nth-child(2) {
 animation-delay: 2s;
}
img:nth-child(3) {
 animation-delay: 4s;
}
img:nth-child(4) {
 animation-delay: 6s;
}
img:nth-child(5) {
 animation-delay: 8s;
}


/*=========================================================
*
*===================== menu CSS =========================
*
==========================================================*/

.navbar {
 font-size: 20px;
 background:black;
 padding-bottom: 10px;
 position: fixed;
 width: 100%;
 z-index: 10;
 padding: 0;
}
.main-nav {
 flex-direction: row;
 display: flex;
}


.main-nav li {
text-align: center;
margin: 15px auto;
font-weight: bold;

}
.logonav{
  position: relative; 
  width: 50px;
  height: 50px;
  
}
.nav-links
{
 color:white;
 list-style-type: none;
 text-decoration: none;
 font-size:25px;
}


/*=========================================================
*
*===================== pop-up CSS =========================
*
==========================================================*/


::selection{
background-color:lightgreen;
}

#popup{
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 35%; 
height: 40%;
overflow: auto;
background-color: rgba(0,0,0,0.8); 
margin-left: 33%;
margin-top: 15%;
border-radius: 30px;
}

#popupContent{
margin: auto;
padding: 10px;
border: 6px solid white;;
width: 35%;
height: 40%;
}

#popupContent form {
display: block;
margin: auto;
}


#popupContent form input{
font-size: 20px;
outline: none;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 1em;
}

#popupContent form input[type="submit"]{
cursor: pointer;
background: white;
color: darkred;
}

#popupContent form input::placeholder{
color: darkred;
text-align: center;
font-family: verdana;
}




/* /////// start contactForm.html.twig ////// */

#contactForm {
    width: 90%;
    border: 1px solid black;
    padding: 1rem;
    background-color: blanchedalmond;
    border-radius: 30px;
}

#contactForm label {
    display: inline-block;
    width: 100px;
}

#contactForm p {
    display: flex;
    align-content: flex-start;
    margin-top: 20px;
}

#contactButton {
    width: 200px;
    margin-left: 100px;
}

/* /////// end contactForm.html.twig ////// */

.form-check{
  color: #F9F8F8;
}
/* /////// start profilesList.html.twig /////// */

.select-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.titre{
  justify-content: center;
  display: flex;
}
.sup{
  
  color:burlywood;
}

.select-pseudo, .select-date {
    margin: 10px;
}

.select-pseudo {
  font-size: xx-large;
}

.accept, .refuse, .undef {
    height: 70px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.accept {
    background: limegreen;
    font-size: large;
}

.refuse {
  background: red;
}

.undef {
  background: grey;
}

/* /////// end profilesList.html.twig /////// */

/*=======================================================
*
*===================== errorpopup CSS ===================
*
=========================================================*/
  
.errorPopUp{

  display:flex;
  align-self:center;
  padding:0;
  border: solid 2px black;
  border:solid 5px white;
  border-radius: 25px;
  margin:3REm;
  background-color: antiquewhite;
  font-size: xx-large;
  color:black;
  
}


/*=========================================================
*
*===================== hotspot CSS ===================
*
======================================================*/

.hotspot {
  margin: 100px;
}
  
  .button-wrap {
    display: flex;  
  }
  
  .pulsebutton {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    display: table-cell;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 0 0 0 0 rgba(15, 15, 15, 0.7);
    border-radius: 100%;
    vertical-align: middle;
    background:black;
    cursor: pointer;
    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  .pulsebutton :hover {
      -webkit-animation: none;
      -moz-animation: none;
      animation: none;
    }
    
    .desactivate {
      color: #000;
      background: #999;
      -webkit-animation: none;
      -moz-animation: none;
      animation: none;
    }
  


@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}  
.inscriptionLabel{
  color:white;
}
/*=========================================================
*
*===================== hamburger ===================
*
======================================================*/

/* ///////// profile.html.twig /////// */

#up-form {
	display: flex;
	justify-content: space-around;
	width: 90%;
}

/*=========================================================
*
*===================== media querry CSS ===================
*
==========================================================*/
@media screen and (max-width: 1120px){

  .navbar{
       display: none;
      }
  
  #popup{
    margin-left:0;
    width: 100%;
  }

  #up-form {
    flex-direction: column;
  }

  #right-col {
    width: 90%;
  }
}

@media screen and (min-width: 1120px){

  .hamburger{
       display: none;
      }
  }
.hamburger{
  z-index: 5;
}
.toggle_btn{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top:5px;
  cursor:pointer;
}

.toggle_btn span{
  height: 3px;
  background-color: white;
  width: 100%;
  position:absolute;
  top:20px;
  left:0;
}
.toggle_btn span::before{
  content: '';
  height: 3px;
  background-color:white;
  width: 100%;
  position:absolute;
  top:-10px;
  left:0;
}
.toggle_btn span::after{
  content: '';
  height: 3px;
  background-color:white;
  width: 100%;
  position:absolute;
  top:10px;
  left:0;
}

.menu{
  height: 100vh;
  background-color: black;
  width: 200px;
}
.menu a {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  display: block;
  padding-top: 30px;
  text-decoration: none;
}
.logoH{
  width: 200px;
  height: 200px;
}
.nav {
  margin-left:-210px;
  transition-duration: 0.2s;
  position:fixed;
  top:0;
  height: 100vh;
  z-index: 10;

}
.nav_open{
  margin-left:0;
  transition-duration: 0.2s;
  position:fixed;
  top:0;
  height: 100vh;
  z-index: 10;

}
