/* /////// start soughtProfile.html.twig ////// */

#soughtProfilesContainer {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

#profileCard {
    border: 1px solid black;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;

    position:fixed;
    z-index:10;
    left:20%;
    top:auto;
    background:#e74c3c;
    height: 20em;
}

.card-pseudo, .card-sentence {
    display: block;
    align-content: center;
    pointer-events: none; /* to allow profileCard pointer in JS */
}

.rightMove {
    animation:.5s slideRight ease-in forwards;
    transition-delay:0;
}

.leftMove {
    animation:.5s slideLeft ease-in forwards;
    transition-delay:0;
}

@keyframes slideRight {
	from {left:30%;}
	to {left:100%;}
}

@keyframes slideLeft {
	from {left:30%;}
	to {left:-65%;}
}

/* /////// end soughtProfile.html.twig ////// */


/* /////// start contactForm.html.twig ////// */

#contactForm {
    width: 1000px;
    border: 1px solid black;
    padding: 100px;
    background-color: blanchedalmond;
}

#contactForm label {
    display: inline-block;
    width: 100px;
}

#contactForm p {
    display: flex;
    align-content: flex-start;
    margin-top: 20px;
}

#contactButton {
    width: 200px;
    margin-left: 100px;
}

/* /////// end contactForm.html.twig ////// */